name: Rust

on:
  push:
    tags:
      - v*
env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-20.04
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Build binaries in "release" mode
      run: cargo build -r
    - name: create release
      run: gh release create --generate-notes "${{  github.ref_name }}" "target/release/profile-rs#Ubuntu 20.04"
      env: 
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
